
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lacquer&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.lacquer-regular {
    font-family: "Lacquer", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .feedback {
    font-size: 1.5rem;
    color: #28a745;
    text-align: center;
    animation: move-up 1s ease-in-out;
  }
  
  .show-emoji {
    animation: fade-in-out 1s ease-in-out;
  }
  
  .feedback-message {
    display: block;
  }
  
  @keyframes move-up {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
 